* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

body {
  background: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px); 
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  height: auto;
  width: 96%;
  max-width: 420px;
  position: relative;
}

.container {
  text-align: center;
  padding: 20px;
  align-items: center;
  margin-top: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  list-style: none;
  margin: 15px 0;
}

.menu button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 10px;
}

.menu button i {
  font-size: 24px;
  margin-right: 15px;
}

.menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}s

.bottom-nav {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
}

.bottom-nav i {
  margin-top: 10%;
  padding: 6%;
  font-size: 28px;
  color: #000;
}
